.root {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
      height: 120px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 35px;
      color: hsl(213, 96%, 18%);
      margin-bottom: 20px;
    }
    p {
      width: 550px;
      text-align: center;
      font-size: 20px;
      color: hsl(231, 11%, 63%);
    }
  }
}
